<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_Gmailactions>
            <version>0.0.1</version>
        </Meanbee_Gmailactions>
    </modules>
    <global>
        <blocks>
            <meanbee_gmailactions>
                <class>Meanbee_Gmailactions_Block</class>
            </meanbee_gmailactions>
        </blocks>
        <helpers>
            <gmailactions>
                <class>Meanbee_Gmailactions_Helper</class>
            </gmailactions>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <meanbee_gmailactions>
                    <file>gmailactions.xml</file>
                </meanbee_gmailactions>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <chrildren>
                                <config>
                                    <children>
                                        <gmailactions_options>
                                            <title>Gmail Actions Configuration</title>
                                        </gmailactions_options>
                                    </children>
                                </config>
                            </chrildren>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>